/* CSS Document */

/* format for nav */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 30px;
    left: 20px;
}

#activ_col {
    position: absolute;
    top: 580px;
    left: 22px;
}

#reports {
    position: absolute;
    top: 200px;
    left: 70px;
}

#predictions {
    position: absolute;
    top: 350px;
    left: 50px;
}

#new_sale {
    position: absolute;
    top: 500px;
    left: 60px;
}

#modify_sale {
    position: absolute;
    top: 650px;
    left: 60px;
}

#add_stock {
    position: absolute;
    top: 800px;
    left: 60px;
}
.nav-images {
    margin: 0px;
}

/* format for th rest */
#BackButton {
    position: absolute;
    top: 70px;
    left: 350px;
}

#Title {
    position: absolute;
    top: 70px;
    left: 550px;
}

#Table {
    position: absolute;
    top: 250px;
    left: 300px;
}

#BigBg {
    position: absolute;
    top: 250px;
    left: 1200px;
}

#IdBg {
    position: absolute;
    top: 380px;
    left: 690px;
    font-size: 2.2em;
    color: #574b90;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
table {
    position: absolute;
    top: 500px;
    left: 430px;
    font-size: 1.2em;
    text-align: center;
    width: 25%;
}
th,
td {
    border: 1px solid black;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #f4faff;
}
th {
    color: #261d56;
}
tr {
    color: #655d8d;
}
