/* CSS Document */

/* format for nav */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
position: absolute;
  top: 30px;
  left: 20px;
}

#activ_col {
 position: absolute;
  top: 580px;
  left: 22px;
}

#reports {
position: absolute;
  top: 200px;
  left: 70px;
}

#predictions {
 position: absolute;
  top: 350px;
  left: 50px;
}

#new_sale {
     position: absolute;
  top: 500px;
  left: 60px;
}

#modify_sale {
position: absolute;
  top: 650px;
  left: 60px;
}

#add_stock {
    position: absolute;
    top: 800px;
    left: 60px;
}
.nav-images {
    margin: 0px;
}

/* format for th rest */
#BackButton {
	position: absolute;
	top: 70px;
	left: 350px;
}

#Title {
	position: absolute;
	top: 70px;
	left: 550px;
}

#Table {
	position: absolute;
	top: 250px;
	left: 300px;
}

#BigBg {
	position: absolute;
	top: 250px;
	left: 1200px;
}

#IdBg {
	position: absolute;
	top: 350px;
	left: 670px;
}

#NameBg {
	position: absolute;
	top: 550px;
	left: 670px;
}

#AmountBg {
	position: absolute;
	top: 750px;
	left: 670px;
}