@media (max-width: 1920px){
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
}

#logo {
position: absolute;
  top: 30px;
  left: 20px;
}

#activ_col {
 position: absolute;
  top: 430px;
  left: 22px;
}


#reports {
position: absolute;
  top: 200px;
  left: 70px;
}

#predictions {
 position: absolute;
  top: 350px;
  left: 50px;
}

#new_sale {
	 position: absolute;
  top: 500px;
  left: 60px;
}

#modify_sale {
position: absolute;
  top: 650px;
  left: 60px;
}
#add_stock {
	position: absolute;
	top: 800px;
	left: 60px;
}
#background_art {
	position: absolute;
	top: 50px;top: 80px;
	left: 300px;
}

#sale_form_background {
	position: absolute;
	top: 50px;
	left: 1000px;
}

#sale_form_title {
	position: absolute;
	top: 70px;
	left: 1280px;
}

#form_background {
	position: absolute;
	top: 310px;
	left: 1030px;
}

.submit_form {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


.large_buttons{	
	position: absolute;
	/* this is the style of the button itseld */
  	background-color: #6D11EF; /* purple */
	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	margin: 50px;
  	font-size: 3em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}


.form_inputs {
	position: relative;
	left: 900px;
}

#fname {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 180px;
	left: 1400px;
	border: 0;
	background: #F4FAFF;
}

#dDate {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 280px;
	left: 1400px;
	border: 0;
	background: #FFECEC;
}

#iItem {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 505px;
	left: 1440px;
	border: 0;
	background: #F0EFF7;
}

#pPrice {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 590px;
	left: 1440px;
	border: 0;
	background: #F1FFE1;
}

#submit_pos {
	position: absolute;
	top: 650px;
	left: 1250px;
}

#passive-Info {
	position: absolute;
	top: 180px;
	left: 1120px;
}
