@media (max-width: 1920px){
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
}
.submit_form {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.form_inputs {
	position: relative;
	left: 900px;
}
#item {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 440px;
	left: 580px;
	border: 0;
	background: #BBB5DA;
}
#category {
	position: absolute;
	width: 300px;
	height: 50px;
	top: 440px;
	left: 1280px;
	border: 0;
	background: #DDE9F7;
}
#logo {
position: absolute;
  top: 30px;
  left: 20px;
}

#activ_col {
 position: absolute;
  top: 280px;
  left: 22px;
}


#reports {
position: absolute;
  top: 200px;
  left: 70px;
}

#predictions {
 position: absolute;
  top: 350px;
  left: 50px;
}

#new_sale {
	 position: absolute;
  top: 500px;
  left: 60px;
}

#modify_sale {
position: absolute;
  top: 650px;
  left: 60px;
}
#add_stock {
	position: absolute;
	top: 800px;
	left: 60px;
}
.large_buttons{	
	position: absolute;
	/* this is the style of the button itseld */
  	background-color: #6D11EF; /* purple */
	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 3em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

#weekly {
	top: 950px;
  left: 780px;
}

#monthly {
	top: 950px;
  left: 1360px;
}

#background_graph {
	position: absolute;
	top: 50px;
	left: 300px;
}

#itemprediction{
	position: absolute;
	top: 300px;
	left: 500px;
}
#categoryprediction{
	position: absolute;
	top: 300px;
	left: 1200px;
}

