@charset "utf-8";
/* CSS Document */

/* format for the search bar*/
#SearchBar {
    position: absolute;
    top: 35px;
    left: 580px;
    height: 45px;
}

#ReportsText {
    position: absolute;
    top: 40px;
    left: 350px;
}

#SearchIcon {
    position: absolute;
    top: 40px;
    left: 1000px;
}

#SearchInput {
    position: absolute;
    top: 45px;
    left: 600px;

    height: 25px;
    width: 350px;

    background-color: #edf1f5;
    border: none;
}

/* format for the filter section */
#BgRight {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1600px;
    right: 0;

    width: 320px;
}

#FilterIcon {
    position: absolute;
    top: 20px;
    left: 1620px;

    width: 30px;
    height: 25px;
}

#FiltersText {
    position: absolute;
    top: 15px;
    left: 1725px;

    width: 80px;
    height: 40px;
}

#SubmitButton {
    position: absolute;
    top: 350px;
    left: 1675px;
}

#SortText {
    position: absolute;
    top: 70px;
    left: 1620px;
}
#sortBg {
    position: absolute;
    top: 70px;
    left: 1780px;
    width: 140px;
}
#sortA {
    position: absolute;
    top: 80px;
    left: 1770px;
}
#sortla {
    position: absolute;
    top: 80px;
    left: 1800px;
    font-size: 1.1em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black",
        "sans-serif";
    color: #261d56;
}
#sortD {
    position: absolute;
    top: 80px;
    left: 1840px;
}
#sortld {
    position: absolute;
    top: 80px;
    left: 1870px;
    font-size: 1.1em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black",
        "sans-serif";
    color: #261d56;
}

#CriteriaText {
    position: absolute;
    top: 130px;
    left: 1620px;
}
#criteriaBg {
    position: absolute;
    top: 130px;
    left: 1780px;
    width: 140px;
}
#dropdownMenu {
    position: absolute;
    top: 135px;
    left: 1800px;
    height: 25px;
    width: 80px;
}

#NameText {
    position: absolute;
    top: 190px;
    left: 1620px;
}
#itemBg {
    position: absolute;
    top: 190px;
    left: 1780px;
    width: 130px;
}
#ItemNameInput {
    position: absolute;
    top: 190px;
    left: 1790px;
    width: 120px;
    border: 0;
    background-color: #dad5f6;
}

#viewText {
    position: absolute;
    top: 500px;
    left: 1730px;
}

/* format for buttons */
.large_buttons {
    position: absolute;
    background-color: #6d11ef;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black",
        "sans-serif";
}

#search {
    position: absolute;
    top: 40px;
    left: 1040px;
    width: 100px;

    background-color: #6d11ef;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    font-size: 1em;
}

#weekly {
    top: 600px;
    left: 1675px;
}

#monthly {
    top: 750px;
    left: 1675px;
}

#DownloadButton {
    position: absolute;
    top: 900px;
    left: 1675px;
}

/* format for nav */
@media (max-width: 1920px) {
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 200%;
}

#logo {
    position: absolute;
    top: 30px;
    left: 20px;
}

#activ_col {
    position: absolute;
    top: 125px;
    left: 22px;
}

#reports {
    position: absolute;
    top: 200px;
    left: 70px;
}

#predictions {
    position: absolute;
    top: 350px;
    left: 50px;
}

#new_sale {
    position: absolute;
    top: 500px;
    left: 60px;
}

#modify_sale {
    position: absolute;
    top: 650px;
    left: 60px;
}
#add_stock {
    position: absolute;
    top: 800px;
    left: 60px;
}
.nav-images {
    margin: 0px;
}
/* format for table */
#TableBg {
    position: absolute;
    top: 125px;
    left: 250px;
}

#TableTitle {
    position: absolute;
    top: 180px;
    left: 825px;
}
table {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 2.2em;
    text-align: center;
    width: 50%;
}
th,
td {
    border: 1px solid black;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #f4faff;
}
th {
    color: #261d56;
}
tr {
    color: #655d8d;
}
